* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

button:hover {
    cursor: pointer;
}

.header {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    min-height: fit-content;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.hero {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
    gap: 32px;
}

li {
    margin: 0;
    padding: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.hero-title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-subtitle {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-img {
    background-color: white;
    width: 400px;
    height: 250px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-button {
    background-color: #3882F6;
    padding: 8px 16px;
    border: none;
    color: white;
    border-radius: 8px;
    width: 100px;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 600px;
    
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 16px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 60vw;
    margin-bottom: 16px;
}

.quoter {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.reg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 32px 52px;
}

.reg-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px; 
    border-radius: 8px;
    width: 700px;
    height: 100px;
    min-height: min-content;
    padding: 32px 52px;
}

.reg-title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 8px;
}

.sign-up {
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 8px;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .images {
        flex-wrap: wrap;
    }
    .hero {
        flex-wrap: wrap;
    }
}
